h1,
.h1 {
  font-weight: 400;
}

h2,
.h2 {
  font-size: 84px;
  line-height: 1;
  font-weight: 400;

  @include media-breakpoint-down(xl) {
    font-size: 64px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 48px;
  }

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 400;

  @include media-breakpoint-down(xl) {
    font-size: 32px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-weight: 400;
}

h5,
.h5 {
  font-weight: 400;
}

h6,
.h6 {
  font-weight: 400;
}

p,
.p {
  font-size: 26px;
  line-height: 1.69;

  @include media-breakpoint-down(xl) {
    font-size: 20px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

.fw-thin {
  font-weight: 100;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-black {
  font-weight: 900;
}

ul {
  padding-left: 0;

  li {
    position: relative;
    padding-left: 55px;
    list-style: none;
    font-size: 26px;
    line-height: 1.69;
    letter-spacing: -.49px;

    @include media-breakpoint-down(xl) {
      padding-left: 40px;
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      padding-left: 30px;
      font-size: 16px;
    }

    &:before {
      position: absolute;
      top: 23px;
      left: 0;
      display: block;
      width: 25px;
      height: 1px;
      content: '';
      background: $light;

      @include media-breakpoint-down(lg) {
        top: 16px;
        width: 20px;
      }

      @include media-breakpoint-down(md) {
        top: 13px;
        width: 15px;
      }
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
