/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local(''), url('../fonts/inter-v8-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/inter-v8-latin_cyrillic-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
