
include ../blocks/front/front.pug
include ../blocks/socials/socials.pug
include ../blocks/services/services.pug
include ../blocks/projects/projects.pug
include ../blocks/field/field.pug
include ../blocks/footer/footer.pug
include ../blocks/loader/loader.pug