.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
  }

  &__item {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .7;
      color: #fff;
    }
  }
}
