.loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: $light;
  background: $dark;

  &__content {
    animation: blinken 1.5s linear infinite;
  }
}

@keyframes blinken {

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
