.footer {
  color: #fff;

  &__content {
    padding: 214px 0 169px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(xl) {
      padding: 150px 0 120px;
    }

    @include media-breakpoint-down(md) {
      padding: 40px 0 30px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }

  &__copyright {
    padding: 72px 0 88px;
    text-align: right;
    border-top: 1px solid rgba(#979797, .2);

    @include media-breakpoint-down(xl) {
      padding: 50px 0;
    }

    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }
}
