mixin footer(data)
  .footer.bg-dark&attributes(attributes)
    .container-fluid
      .footer__content
        h2.footer__title Get in touch!
        +socials({
          items: [['LinkedIn', '#'], ['Email', '#'], ['Telegram', '#']]
        })
    .footer__copyright
      .container-fluid
        p.mb-0 ©2022
