.services {
  padding: 104px 0 55px;

  @include media-breakpoint-down(xl) {
    padding: 60px 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0 10px;
  }

  &__header {
    margin-bottom: 107px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 70px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }
}
