mixin services(data)
  .services.bg-dark&attributes(attributes)
    .container-fluid
      p.services__header What I do
      +field({
        header: 'Product',
        items: ['Strategy based on market research and JTBD-interviews', 'Creating hypothesis and solutions design (from CJM’s to ready-to-use features and products)', 'User testing, collection and analysis of metrics']
      })
      +field({
        header: 'Design',
        items: ['Design and direction of all spectrums of concepts — from communication to product and UI/UX', 'Building design systems for web, mobile, and its further maintenance', 'Visual design and art-direction']
      })
      +field({
        header: 'Management',
        items: ['Manage multidisciplinary teams up to 25 people', 'Hiring, growth and evaluating', 'Coaching and mentoring']
      })
