.front {
  padding: 114px 0 182px;
  border-bottom: 1px solid rgba(#979797, .2);

  @include media-breakpoint-down(xl) {
    padding: 60px 0 80px;
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__title {
    width: 49%;

    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
      width: 100%;
    }
  }
}
