mixin front(data)
  .front.bg-dark&attributes(attributes)
    .container-fluid
      .front__content
        h3.front__title Hey! I’m Ilya — a designer, first and foremost, but also a manager with 20+ years of experience
        +socials({
          items: [['LinkedIn', '#'], ['Email', '#'], ['Telegram', '#']]
        })
