.field {
  margin-bottom: 170px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(xl) {
    margin-bottom: 120px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    width: 49%;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  &__content {
    margin-bottom: 0;
    padding-right: 47px;
    width: 50.1%;

    @include media-breakpoint-down(xl) {
      padding-right: 20px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 0;
      width: 100%;
    }
  }
}
