.projects {

  &__header {
    display: flex;
    min-height: 700px;
    align-items: center;

    @include media-breakpoint-down(xl) {
      min-height: 500px;
    }

    @include media-breakpoint-down(lg) {
      min-height: 400px;
    }

    @include media-breakpoint-down(md) {
      min-height: 200px;
    }
  }

  &__title {
    margin-bottom: 0;
    max-width: 47.1%;
    line-height: 1.36;
  }

  &__content {

    img {
      width: 100%;
    }
  }
}
