mixin projects(data)
  .projects&attributes(attributes)
    .projects__header
      .container-fluid
        h2.projects__title Miscellaneous cases
    .projects__content
      img(src="./img/item-1.svg", alt)
      img(src="./img/item-2.jpg", alt)
      img(src="./img/item-3.jpg", alt)
      img(src="./img/item-4.svg", alt)
      img(src="./img/item-5.svg", alt)
      img(src="./img/item-6.svg", alt)
